In [73]:
import pandas as pd

In [78]:
page = pd.read_csv('.\page_data.csv')
page = page[~page.page.str.startswith('Template:')]
page.reset_index(inplace=True, drop=True)
page

,page,country,rev_id
0,Bir I of Kanem,Chad,355319463
1,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
2,Yos Por,Cambodia,393822005
3,Julius Gregr,Czech Republic,395521877
4,Edvard Gregr,Czech Republic,395526568
...,...,...,...
46696,Yahya Jammeh,Gambia,807482007
46697,Lucius Fairchild,United States,807483006
46698,Fahd of Saudi Arabia,Saudi Arabia,807483153
46699,Francis Fessenden,United States,807483270
46700,Ajay Kannoujiya,India,807484325

In [8]:
wpds = pd.read_csv('.\WPDS_2020_data.csv')
wpds

,FIPS,Name,Type,TimeFrame,Data (M),Population
0,WORLD,WORLD,World,2019,7772.850,7772850000
1,AFRICA,AFRICA,Sub-Region,2019,1337.918,1337918000
2,NORTHERN AFRICA,NORTHERN AFRICA,Sub-Region,2019,244.344,244344000
3,DZ,Algeria,Country,2019,44.357,44357000
4,EG,Egypt,Country,2019,100.803,100803000
...,...,...,...,...,...,...
229,WS,Samoa,Country,2019,0.200,200000
230,SB,Solomon Islands,Country,2019,0.715,715000
231,TO,Tonga,Country,2019,0.099,99000
232,TV,Tuvalu,Country,2019,0.010,10000
233,VU,Vanuatu,Country,2019,0.321,321000

In [22]:
wpds.Type.unique()

array(['World', 'Sub-Region', 'Country'], dtype=object)

In [25]:
regional = wpds[(wpds.Type == 'World') | (wpds.Type == 'Sub-Region')]
regional

,FIPS,Name,Type,TimeFrame,Data (M),Population
0,WORLD,WORLD,World,2019,7772.850,7772850000
1,AFRICA,AFRICA,Sub-Region,2019,1337.918,1337918000
2,NORTHERN AFRICA,NORTHERN AFRICA,Sub-Region,2019,244.344,244344000
10,WESTERN AFRICA,WESTERN AFRICA,Sub-Region,2019,401.115,401115000
27,EASTERN AFRICA,EASTERN AFRICA,Sub-Region,2019,444.970,444970000
48,MIDDLE AFRICA,MIDDLE AFRICA,Sub-Region,2019,179.757,179757000
58,SOUTHERN AFRICA,SOUTHERN AFRICA,Sub-Region,2019,67.732,67732000
64,NORTHERN AMERICA,NORTHERN AMERICA,Sub-Region,2019,368.193,368193000
67,LATIN AMERICA AND THE CARIBBEAN,LATIN AMERICA AND THE CARIBBEAN,Sub-Region,2019,651.036,651036000
68,CENTRAL AMERICA,CENTRAL AMERICA,Sub-Region,2019,178.611,178611000
77,CARIBBEAN,CARIBBEAN,Sub-Region,2019,43.233,43233000
95,SOUTH AMERICA,SOUTH AMERICA,Sub-Region,2019,429.191,429191000
109,ASIA,ASIA,Sub-Region,2019,4625.927,4625927000
110,WESTERN ASIA,WESTERN ASIA,Sub-Region,2019,280.927,280927000
129,CENTRAL ASIA,CENTRAL ASIA,Sub-Region,2019,74.961,74961000
135,SOUTH ASIA,SOUTH ASIA,Sub-Region,2019,1967.131,1967131000
145,SOUTHEAST ASIA,SOUTHEAST ASIA,Sub-Region,2019,661.845,661845000
157,EAST ASIA,EAST ASIA,Sub-Region,2019,1641.063,1641063000
166,EUROPE,EUROPE,Sub-Region,2019,746.622,746622000
167,NORTHERN EUROPE,NORTHERN EUROPE,Sub-Region,2019,105.990,105990000
168,Channel Islands,Channel Islands,Sub-Region,2019,0.172,172000
179,WESTERN EUROPE,WESTERN EUROPE,Sub-Region,2019,195.479,195479000
189,EASTERN EUROPE,EASTERN EUROPE,Sub-Region,2019,291.902,291902000
200,SOUTHERN EUROPE,SOUTHERN EUROPE,Sub-Region,2019,153.251,153251000
216,OCEANIA,OCEANIA,Sub-Region,2019,43.155,43155000

In [26]:
country = wpds[wpds.Type == 'Country']
country

    FIPS             Name     Type  TimeFrame  Data (M)  Population
3     DZ          Algeria  Country       2019    44.357    44357000
4     EG            Egypt  Country       2019   100.803   100803000
5     LY            Libya  Country       2019     6.891     6891000
6     MA          Morocco  Country       2019    35.952    35952000
7     SD            Sudan  Country       2019    43.849    43849000
..   ...              ...      ...        ...       ...         ...
229   WS            Samoa  Country       2019     0.200      200000
230   SB  Solomon Islands  Country       2019     0.715      715000
231   TO            Tonga  Country       2019     0.099       99000
232   TV           Tuvalu  Country       2019     0.010       10000
233   VU          Vanuatu  Country       2019     0.321      321000

[209 rows x 6 columns]

In [64]:
import requests
headers = {
    'User-Agent': 'https://github.com/kevSweet',
    'From': 'ksweet1@uw.edu'
}

def api_call(endpoint,revids):
    call = requests.get(endpoint + revids, headers=headers)
    response = call.json()
    return response

In [65]:
ores_base_url = 'https://ores.wikimedia.org/v3/scores/enwiki?models=articlequality&revids='
rev_ids = '355319463|393276188'

In [66]:
api_call(ores_base_url, rev_ids)

{'enwiki': {'models': {'articlequality': {'version': '0.8.2'}},
  'scores': {'355319463': {'articlequality': {'score': {'prediction': 'Stub',
      'probability': {'B': 0.005643168767502225,
       'C': 0.005641424870624224,
       'FA': 0.0010757577110297029,
       'GA': 0.001543343686495854,
       'Start': 0.010537503531047517,
       'Stub': 0.9755588014333005}}}},
   '393276188': {'articlequality': {'score': {'prediction': 'Stub',
      'probability': {'B': 0.008182590350064387,
       'C': 0.00889480723831463,
       'FA': 0.0013360623544989905,
       'GA': 0.002367361886443145,
       'Start': 0.0455054831381552,
       'Stub': 0.9337136950325238}}}}}}}

The revision IDs to score (split multiple ids with "|")

In [ ]:
#TODO convert entries of pages.rev_id into bar (|) separated values 50 at a time and make requests to endpoint with them